<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amenities | <%= title %></title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Swiper JS Link-->
    <link rel="stylesheet" href="/swiper-bundle.min.css">
</head>
<body>
    <section class="main">
        <div class="home_header">
            <p class="home_heading">Choose your Activity</p>
            <!-- <div class="logout">
                <a href="login">Log Out</a>
            </div> -->
            <!-- <button type="button" class="logout_btn" onclick="location.href='login.html'">LogOut</button> -->
        </div>
        <div class="cards-holder">
            <div class="swiper mySwiper container">
                <div class="swiper-wrapper content">
                    
                    <!--card 1-->
                    <div class="swiper-slide card border-0">
                        <div class="card-content">
                            <div class="image">
                                <img src="/images/badminton.jpg" alt="">
                            </div>
                            <div class="name">
                               <p>Badminton</p>
                            </div>
                            <div class="book">
                                <a href="book/badminton">Check Availablity</a>
                            </div>
                            <!-- <div class="feedback">
                                <a href="feedback">Give Feedback</a>
                            </div> -->
                        </div>
                    </div>
    
                    <!--card 2-->
                    <div class="swiper-slide card border-0">
                        <div class="card-content">
                            <div class="image">
                                <img src="/images/swimming.jpg" alt="">
                            </div>
                            <div class="name">
                               <p>Swimming</p>
                            </div>
                            <div class="book">
                                <a href="book/swimming">Check Availablity</a>
                            </div>
                            <!-- <div class="feedback">
                                <a href="feedback">Give Feedback</a>
                            </div> -->
                        </div>
                    </div>
    
                    <!--card 3-->
                    <div class="swiper-slide card border-0">
                        <div class="card-content">
                            <div class="image">
                                <img src="/images/billiards.jpg" alt="">
                            </div>
                            <div class="name">
                               <p>Billiards</p>
                            </div>
                            <div class="book">
                                <a href="book/billiards">Check Availablity</a>
                            </div>
                            <!-- <div class="feedback">
                                <a href="feedback">Give Feedback</a>
                            </div> -->
                        </div>
                    </div>
    
                    <!--card 4-->
                    <div class="swiper-slide card border-0">
                        <div class="card-content">
                            <div class="image">
                                <img src="/images/bowling.jpg" alt="">
                            </div>
                            <div class="name">
                               <p>Bowling</p>
                            </div>
                            <div class="book">
                                <a href="book/bowling">Check Availablity</a>
                            </div>
                            <!-- <div class="feedback">
                                <a href="feedback">Give Feedback</a>
                            </div> -->
                        </div>
                    </div>
                    <!--card 5-->
                    <div class="swiper-slide card border-0">
                        <div class="card-content">
                            <div class="image">
                                <img src="/images/gym.jpg" alt="">
                            </div>
                            <div class="name">
                               <p>Gym</p>
                            </div>
                            <div class="book">
                                <a href="book/gym">Check Availablity</a>
                            </div>
                            <!-- <div class="feedback">
                                <a href="feedback">Give Feedback</a>
                            </div> -->
                        </div>
                    </div>
    
                    <!--card 6-->
                    <div class="swiper-slide card border-0">
                        <div class="card-content">
                            <div class="image">
                                <img src="/images/conference_room.jpg" alt="">
                            </div>
                            <div class="name">
                               <p>Conference Room</p>
                            </div>
                            <div class="book">
                                <a href="book/conference_room">Check Availablity</a>
                            </div>
                            <!-- <div class="feedback">
                                <a href="feedback">Give Feedback</a>
                            </div> -->
                        </div>
                    </div>
    
                    <!--card 7-->
                    <div class="swiper-slide card border-0">
                        <div class="card-content">
                            <div class="image">
                                <img src="/images/tennis.jpg" alt="">
                            </div>
                            <div class="name">
                               <p>Tennis</p>
                            </div>
                            <div class="book">
                                <a href="book/tennis">Check Availablity</a>
                            </div>
                            <!-- <div class="feedback">
                                <a href="feedback">Give Feedback</a>
                            </div> -->
                        </div>
                    </div>
    
                    <!--card 8-->
                    <div class="swiper-slide card border-0">
                        <div class="card-content">
                            <div class="image">
                                <img src="/images/squash.jpg" alt="">
                            </div>
                            <div class="name">
                               <p>Squash</p>
                            </div>
                            <div class="book">
                                <a href="book/squash">Check Availablity</a>
                            </div>
                            <!-- <div class="feedback">
                                <a href="feedback">Give Feedback</a>
                            </div> -->
                        </div>
                    </div>
    
                    <!--card 9-->
                    <div class="swiper-slide card border-0">
                        <div class="card-content">
                            <div class="image">
                                <img src="/images/net_cricket.jpg" alt="">
                            </div>
                            <div class="name">
                               <p>Net Cricket</p>
                            </div>
                            <div class="book">
                                <a href="book/cricket">Check Availablity</a>
                            </div>
                            <!-- <div class="feedback">
                                <a href="feedback">Give Feedback</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
           
    </section>
    <script src="/swiper-bundle.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>